[Desktop Entry]
Comment=Adds a shortcut to toggle the visibility of the menu bar
Icon=kdevelop
Name=Menu Bar Toggler
Type=Service
X-KDE-PluginInfo-Author=Simon Tran
X-KDE-PluginInfo-Name=menu-bar-toggler
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginKeyword=menu-bar-toggler
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
X-KWin-Border-Activate=true
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
